@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1A2A33;
}

body {
    font-family: "Outfit", sans-serif;    
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}



/* Board */
#cellBoard {
    width: 461px;
    height: 532px;
    background-color: #1A2A33;
    position: absolute;
    left: 490px;
    top: 50px;

}

/* Container Containing Cells */
.Cell-Container {
    width: 460px;
    height: 461px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 19px;
}

/* Board Header */
.headDisplay {
    background-color: #1A2A33;
    height: 52px;
    width: 457.24px;
}

/* Game Logo - XO */
.players-xo {
    background-color: #1A2A33;
    border: none;
    padding: 0.5%;
}

/* Player Turn Display (X TURN) */
.player-turn {
    width: 140px;
    height: 52px;
    box-shadow: inset 0px -4px 0px #10212A;
    background-color: #1F3641;
    border: none;
    position: absolute;
    right: 35%;
    border-radius: 10px;
}

.player-turn img {
    background-color: #1F3641;
}

/* Restart Button */
.RestartBtn {
    position: absolute;
    background-color: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6BB997;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    border: none;
    right: 0px;
}

.RestartBtn:hover {
    cursor: pointer;
    
}
.RestartBtn:active{
    transform: translateY(2px);
}

/* Restart Button img */
.RestartBtn img {
    background-color: #A8BFC9;
}

/* Individual Cell Index */
.cell-index {
    width: 140px;
    height: 140px;
    background-color: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.cell-index:active{
    transform: translateY(2px);
}

.cell.x,
.cell.O {
    cursor: not-allowed;
}

/* Score Button Containing */
.Score-Buttons {
    background-color: #1A2A33;
}

/* Score Buttons Below Game Board */
.X-You {
    width: 140px;
    height: 72px;
    border-radius: 15px;
    background-color: #31C3BD;
    margin-right: 15px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1A2A33;
}

.Ties {
    width: 140px;
    height: 72px;
    margin-right: 15px;
    border-radius: 15px;
    border: none;
    background-color: #A8BFC9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1A2A33;
}

.O-CPU {
    width: 140px;
    height: 72px;
    border-radius: 15px;
    border: none;
    background-color: #F2B137;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1A2A33;
}

.hoverClassX:hover {
    /* cursor: pointer; */
    background-image: url(./assets/icon-x-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hoverClassO:hover {
    /* cursor: pointer; */
    background-image: url(./assets/icon-o-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
}


/* restart modal */
.hidden {
    display: none;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background: rgb(0, 0, 0, 0.5);
}

.overlay{
    backdrop-filter: blut(10px);
    z-index: 1;
}

/* Banner display id */
.Restart {
    width: 1440px;
    height: 266px;
    /* background-color: #1F3641; */
    margin-left: 0;
    margin-top: 330px;
    
}

/* section containing content within banner */
.Restart-Wrapper {
    width: 351px;
    height: 133px;
    position: absolute;
    left: 545px;
    top: 397px;
    
}



/* "Restart Text" */

.Restart-Game-Text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-align: center;
    color: #A8BFC9;
    text-transform: uppercase;
}


.Restart-Buttons {
    width: 306px;
    height: 52px;
    position: absolute;
    left: 22px;
    top: 81px;
    transform: translateY(2px);
}

.No-Restart {
    width: 139px;
    height: 52px;
    position: absolute;
    left: 0%;
    background-color: #A8BFC9;
    border: none;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1A2A33;
    
}

.Yes-Restart {
    width: 139px;
    height: 52px;
    position: absolute;
    right: 0%;
    background-color: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #1A2A33;
}









@media only screen and (max-width:500px) {

    /* Board */
    #cellBoard {
        width: 328px;
        height: 516px;
        background-color: #1A2A33;
        position: absolute;
        left: 490px;
        top: 139px;
    }

    /* Board Header */
    .Head-Display {
        background-color: #1A2A33;
        height: 52px;
        width: 328px;
    }

    /* Container Containing Cells */
    .Cell-Container {
        width: 328px;
        height: 328px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin-top: 19px;
        cursor: not-allowed;

        
    }

    /* Individual Cell Index */
    .cell-index {
        width: 96px;
        height: 96px;
        background-color: #1F3641;
        box-shadow: inset 0px -8px 0px #10212A;
        border-radius: 15px;
        margin-right: 20px;
    }

    /* Score Button Container */
    .Score-Buttons {
        background-color: #1A2A33;
        width: 328px;
        height: 64px;
    }

    /* Score Buttons Below Game Board */
    .X-You {
        width: 96px;
        height: 64px;
        border-radius: 15px;
        background-color: #31C3BD;
        margin-right: 15px;
        border: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #1A2A33;
    }

    .Ties {
        width: 96px;
        height: 64px;
        margin-right: 15px;
        border-radius: 15px;
        border: none;
        background-color: #A8BFC9;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #1A2A33;
    }

    .O-CPU {
        width: 96px;
        height: 64px;
        border-radius: 15px;
        border: none;
        background-color: #F2B137;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #1A2A33;
    }

    /* Player Turn Display (X TURN) */
    .player-turn {
        width: 140px;
        height: 52px;
        box-shadow: inset 0px -4px 0px #10212A;
        background-color: #1F3641;
        border: none;
        position: absolute;
        right: 25%;
        border-radius: 10px;
    }


}