* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow:hidden;
}

/* Banner display id */
#Player-Loss {
    width: 1440px;
    height: 266px;
    background-color: #1F3641;
    margin-left: 0;
    margin-top: 330px;
}

/* section containing content within banner */
.O-Takes-Round {
    width: 491px;
    height: 176px;
    position: absolute;
    left: 475px;
    top: 375px;
}

/* Div containing "O" image and Takes the Round text */
.Image-Text {
    display: flex;
    position: absolute;
    top: 20.45%;
}

/* Player 1 Wins Text */
.Win {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    letter-spacing: 1px;
    color: #A8BFC9;
    text-align: center;
    text-transform: uppercase;
}

/* O image with banner */
.O-Takes-Round img {
    width: 64px;
    height: 64px;
}

/* Takes the round text */
.Takes-Round {
    width: 400px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-left: 24px;
    color: #F2B137;
}

/* Quit Button */
.Quit {
    width: 76px;
    height: 52px;
    background-color: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1A2A33;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    left: 25.66%;
    top: 70.45%;
}


/* Next Round Button */
.Next-Round {
    width: 146px;
    height: 52px;
    position: absolute;
    left: 44.4%;
    top: 70.45%;
    background-color: #f2b137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1A2A33;
}

@media only screen and (max-width:500px) {

    /* Banner display id */
    #Player-Loss {
        width: 450px;
        height: 228px;
        margin-left: 0px;
        margin-top: 220px;
    }


    /* section containing content within banner */
    .O-Takes-Round {
        width: 280px;
        height: 140px;
        position: absolute;
        top: 260px;
        left: 73px;
        right: 73px;
    }

    /* Div containing "O" image and "Takes the Round text" */
    .Image-Text {
        display: flex;
        position: absolute;
        top: 20.45%;
        width: 280px;
        height: 30px;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 24.29%;
        bottom: 54.29%;
    }


    /* O image with banner */
    .O-Takes-Round img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0%;
        right: 89.29%;
    }

    /* Takes the round text */
    .Takes-Round {
        width: 241px;
        height: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        line-height: 30px;
        color: #F2B137;
        position: absolute;
        right: 0.36%;
    }

    /* Quit Button */
    .Quit {
        width: 76px;
        height: 52px;
        background-color: #A8BFC9;
        box-shadow: inset 0px -4px 0px #6B8997;
        border-radius: 10px;
        border: none;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #1A2A33;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        position: absolute;
        right: 65.36%;
        left: 7.5%;
        bottom: 0%;
        top: 62.86%;
    }

    /* Next Round Button */
    .Next-Round {
        width: 146px;
        height: 52px;
        position: absolute;
        left: 40.36%;
        right: 7.5%;
        top: 62.86%;
        background-color: #f2b137;
        box-shadow: inset 0px -4px 0px #CC8B13;
        border-radius: 10px;
        border: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1A2A33;
    }




}