* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #1A2A33; */
}

.NewGame-Menu {
    background-color: #1A2A33;
    width: 460px;
    height: 471px;
    position: absolute;
    top: 215px;
    left: 490px;
}
.logo{
    position: absolute;
    left:40%
   

}

.Players {
    background-color: #1F3641;
    width: 460px;
    height: 205px;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 72px;
    /* bottom: 194px; */
}

.Players-Select {
    width: 412px;
    height: 72px;
    position: absolute;
    background-color: #1A2A33;
    background-color: red;
    left: 5.22%;
    right: 5.22%;
    top: 33.17%;
    bottom: 33.17px;
    border-radius: 10px;
}

.Players-Select .X{
    position: absolute;
    left: 25%;
    top: 25%;
}

.Players-Select .Select-XO{
    width: 198px;
    height: 58px;
    border: none;
    background-color: #A8BFC9;
    border-radius: 10px;
    /* margin-top: 9px; */
    /* margin-bottom: 9px; */
    position: absolute;
    left: 50%;
    top: 9%;
    right:8%

    
    
}
